.progress {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    width: 93%;
    height: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .6;

}

.progress circle {
    transition: .1s ease-out;
}

.progress.stop circle {
    transition: 0s .1s;
}